[req]
prompt = no
distinguished_name = dn
req_extensions = ext

[dn]
CN = root.com
emailAddress = sfq@qq.com
O = ABC
L = Pudong
ST = Shanghai
C = CN

[ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.root.com
DNS.2 = root.com
